@model User
@{
    ViewData["Title"] = "Create";
}
<div class="card shadow border-0 p-0">
    <div class="card-header bg-secondary bg-gradient">
        <div class="text-center text-dark">
            <h2>Create</h2>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" enctype="multipart/form-data">
            <div class="row form-floating py-2 col-12">
                <input asp-for="Name" class="form-control border-0 shadow" />
                <label asp-for="Name" class="ms-2"></label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="row form-floating py-2 col-12">
                <input type="file" name="file" class="form-control border-0 shadow" />
                <label asp-for="ImageUrl" class="ms-2"></label>
            </div>
            
            <div class="row p-2">
                <div class="col-xl-3 col-lg-4 col-md-6  pb-2 ">
                    <button type="submit" class="btn btn-outline-success form-control">Create</button>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6  pb-2 ">
                    <a asp-controller="User" asp-action="Index" class="btn btn-outline-secondary form-control">Back to list</a>
                </div>
            </div>
        </form>
    </div>
</div>


